@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme-light {
    --background: 210 36% 95%;
    --foreground: 209 36% 14%;
    --card: 0 0% 100%;
    --card-foreground: 209 36% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 209 36% 14%;
    --primary: 163 86% 35%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 37% 97%;
    --secondary-foreground: 209 36% 14%;
    --muted: 208 30% 92%;
    --muted-foreground: 208 18% 40%;
    --accent: 165 53% 93%;
    --accent-foreground: 163 86% 35%;
    --destructive: 0 72% 56%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 31% 90%;
    --input: 210 31% 90%;
    --ring: 163 86% 35%;
    --radius: 0.5rem;
  }

  .theme-gold {
    --background: 43 41% 88%;
    --foreground: 39 25% 13%;
    --card: 48 38% 97%;
    --card-foreground: 39 25% 13%;
    --popover: 48 38% 97%;
    --popover-foreground: 39 25% 13%;
    --primary: 41 57% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 44 49% 91%;
    --secondary-foreground: 39 25% 13%;
    --muted: 43 38% 84%;
    --muted-foreground: 39 18% 31%;
    --accent: 46 55% 86%;
    --accent-foreground: 41 57% 43%;
    --destructive: 3 66% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 43 37% 83%;
    --input: 43 37% 83%;
    --ring: 41 57% 43%;
    --radius: 0.5rem;
  }

  .theme-dark {
    --background: 210 42% 9%;
    --foreground: 209 51% 91%;
    --card: 212 34% 15%;
    --card-foreground: 209 51% 91%;
    --popover: 212 34% 15%;
    --popover-foreground: 209 51% 91%;
    --primary: 162 88% 41%;
    --primary-foreground: 210 42% 9%;
    --secondary: 211 34% 18%;
    --secondary-foreground: 209 51% 91%;
    --muted: 211 40% 12%;
    --muted-foreground: 206 29% 59%;
    --accent: 161 58% 15%;
    --accent-foreground: 162 88% 41%;
    --destructive: 0 76% 63%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 36% 17%;
    --input: 210 36% 17%;
    --ring: 162 88% 41%;
    --radius: 0.5rem;
  }

  .theme-dark.dark {
    --background: 210 42% 9%;
    --foreground: 209 51% 91%;
    --card: 212 34% 15%;
    --card-foreground: 209 51% 91%;
    --popover: 212 34% 15%;
    --popover-foreground: 209 51% 91%;
    --primary: 162 88% 41%;
    --primary-foreground: 210 42% 9%;
    --secondary: 211 34% 18%;
    --secondary-foreground: 209 51% 91%;
    --muted: 211 40% 12%;
    --muted-foreground: 206 29% 59%;
    --accent: 161 58% 15%;
    --accent-foreground: 162 88% 41%;
    --destructive: 0 76% 63%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 36% 17%;
    --input: 210 36% 17%;
    --ring: 162 88% 41%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .hidden-scroll::-webkit-scrollbar {
    width: 0px;
  }
}

html,
body,
#root {
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
